@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,300&family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap');
@media (width>=900px){
.container{
padding: 30px;
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 30px;
grid-row-gap: 10px;
}
}

@media (width<=600px){
.google-image{
 display: none;
}
.button-container{
    margin: 10px;
}
}

nav{
 font-family: 'Inter', sans-serif;
  background-color:#1342b0;
  color:#7993b7;
  min-width:100vw;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title{
    margin-left: 20px;
    padding:10px;
    color: #ffffff;
    font-weight: 900;
    font-family:monospace;
    font-size: 40px;
    
}
.button-container{
    padding: 15px;
}
.nav-button{
 padding: 5px;
 margin: 5px;
 font-weight: 300;
 font-family:roboto;
 border:0px;
 border-radius: 6px;
}
.container{
background-color: #ffffff;
 padding: 15px;
 font-family:roboto;
}
.vendor-card{
    background-color: rgb(255, 255, 255);
    border:0px;
    border-radius: 12px;
    margin:30px 10px;
    padding: 10px;
    box-shadow: inset 0 -3em 3em #fbf3e9,
    
    0.3em 0.3em 1em rgba(143, 143, 143, 0.6);
}
.card-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
span{
    margin:2px;
    padding:5px;
}
.card-address{
    margin-bottom: 15px;
}
.edit{
padding: 10px 15px;
font-weight: 500;
border:0px;
border-radius: 6px;
background-color: #1342b0;
color:#ffffff;
}
.delete{
padding: 10px 15px;
font-weight: 500;
border:0px;
border-radius: 6px;
background-color: #ffbe27;
}
.disabled{
width: 100%;
padding: 10px 15px;
font-weight: 500;
color: #ffffff;
border:0px;
border-radius: 6px;
background-color: #2f2d2d;
}
.pagination-div{
    display: flex;
    align-items: center;
    justify-content: center;

}